<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrwksQ-opGsXALDlPg-b2cq4R1iuHM0K4</string>
	<key>GCM_SENDER_ID</key>
	<string>881258448510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>morningmovies-5c311</string>
	<key>STORAGE_BUCKET</key>
	<string>morningmovies-5c311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881258448510:ios:f4f11060fdd4dac1047a2f</string>
</dict>
</plist>